* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 12vh;
    align-items: center;
    padding: 0 150px;
    border-bottom: 1px solid #6666667f;
}

.header ul {
    display: flex;
    gap: 60px;
    list-style: none;
    justify-content: space-between;
}

.header ul li a {
    text-decoration: none;
    color: #6666667f;
}

.header ul li a:hover {
    color: #387ed1;
}

/*--header end--*/
/*--hero section start--*/

.hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 28px;
    height: 88vh;
    color: #424242;
}

.hero-section h1 {
    font-weight: 500;
}

.hero-img {
    width: 800px;
}

.cta-btn {
    color: white;
    text-decoration: none;
    background-color: #387ed1;
    padding: 6px 20px;
    border-radius: 3px;
}

.cta-btn:hover {
    background-color: #222;
}

.section-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 150px;
}

.section-2-left,
.section-2-right {
    width: 450px;
    height: 90vh;
}

.section-2-right img {
    width: 450px;
}

.left-heading {
    font-size: 32px;
    padding-bottom: 20px;
    color: #424242;
}

.information {
    padding-top: 20px;
}

.information-heading {
    font-size: 20px;
    color: #424242;
    padding-bottom: 10px;
}

.information-discription {
    font-size: 16px;
    color: #666;
}

.info-link {
    text-decoration: none;
    color: #387ed1;
}

.info-link:hover {
    color: #424242;
}



